<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - JMSite</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/icones.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="/css/projetos.css">
</head>

<body class="home__page">
    <header>
        <div class="container__navegação">
            <a class="logo" href="/"><img src="/img/logo.png" alt="Logo_site"></a>
            <div class="container__menu">
                <ul class="container__menu__links">
                    <li><a class="container__menu__links" href="/"><strong>PÁGINA INICIAL</strong></a></li>
                    <li><a class="container__menu__links" href="/sobre">NOSSA HISTÓRIA</a></li>
                    <li><a class="container__menu__links" href="/contato">CONTATO</a></li>
                </ul>
            </div>
        </div>
    </header>

    <main>
        <!-- <article class="article-wrapper">
            <div class="rounded-lg container-project">
            </div>
            <div class="project-info">
                <div class="flex-pr">
                    <div class="project-title text-nowrap">Project</div>
                    <div class="project-hover">
                        <svg style="color: black;" xmlns="http://www.w3.org/2000/svg" width="2em" height="2em"
                            color="black" stroke-linejoin="round" stroke-linecap="round" viewBox="0 0 24 24"
                            stroke-width="2" fill="none" stroke="currentColor">
                            <line y2="12" x2="19" y1="12" x1="5"></line>
                            <polyline points="12 5 19 12 12 19"></polyline>
                        </svg>
                    </div>
                </div>
                <div class="types">
                    <span style="background-color: rgba(165, 96, 247, 0.43); color: rgb(85, 27, 177);"
                        class="project-type">• Analytics</span>
                    <span class="project-type">• Dashboards</span>
                </div>
            </div>
        </article> -->

        
        <div class="container">
            <a class="projetos__link" href="">
                <div class="projetos">
                    <img class="imagem__16-9" src="/img/16-9.jpg" alt="Descrição da imagem">
                    <div class="info__projetos">
                        <h3>Título do Projeto 1</h3>
                        <p>Descrição breve ou outras informações adicionais.</p>
                    </div>
                </div>
            </a>
            <a class="projetos__link"  href="">
                <div class="projetos">
                    <img class="imagem__16-9" src="/img/16-9.jpg" alt="Descrição da imagem">
                    <div class="info__projetos">
                        <h3>Título do Projeto 1</h3>
                        <p>Descrição breve ou outras informações adicionais.</p>
                    </div>
                </div>
            </a>
            <a class="projetos__link"  href="">
                <div class="projetos">
                    <img class="imagem__16-9" src="/img/16-9.jpg" alt="Descrição da imagem">
                    <div class="info__projetos">
                        <h3>Título do Projeto 1</h3>
                        <p>Descrição breve ou outras informações adicionais.</p>
                    </div>
                </div>
            </a>

        <div class="icon">
            <div class="icones__links">
                <a href="#" class="icon-whatsapp"><i class="fab fa-whatsapp"></i></a>
                <a href="#" class="icon-instagram"><i class="fab fa-instagram"></i></a>
                <a href="#" class="icon-linkedin"><i class="fab fa-linkedin"></i></a>
                <a href="#" class="icon-github"><i class="fab fa-github"></i></a>
            </div>
        </div>
    </main>

    <footer>
        <p>Projeto feito por Julio Plaza e Murilo Gonçalves</p>
    </footer>
</body>

</html>